.checkout-header-middle-section {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-shrink: 0;
}

@media (max-width: 600px) {
    .checkout-header-middle-section {
        display: none;
    }
}
