html {
    background-color: var(--custom-light-grey);
}

main {
    max-width: 1150px;
    padding: 0 30px;
    margin: 140px auto;
}

.cart-item-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-order-summary-grid {
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 35px;
    align-items: start;
    margin-bottom: 70px;
}

.update-cart-item-quantity-input,
.save-new-cart-item-quantity-button {
    display: none;
}

.update-cart-item-quantity-input {
    width: 40px;
    font-size: 15px;
    margin-right: 5px;
    border-radius: 5px;
    padding: 8px;
}

.update-cart-item-quantity-input:focus {
    border: 2px solid var(--custom-dark-grey);
}

.cart-item-quantity-display {
    margin-right: 10px;
}

.editing-cart-item-quantity .update-cart-item-quantity-input,
.editing-cart-item-quantity .save-new-cart-item-quantity-button {
    display: initial;
}

.order-summary-section-container {
    padding-bottom: 5px;
}

.cart-item-details-grid {
    display: grid;
    grid-template-columns: 100px 270px 1fr;
    grid-gap: 30px;
}

.cart-item-quantity-container {
    display: flex;
    align-items: center;
    height: 36px;
}

.update-cart-item-quantity-button {
    margin-right: 8px;
}

.cart-item-quantity-limit-message {
    margin-top: 20px;
}

.delivery-options-title {
    font-weight: 700;
    margin-bottom: 10px;
}

.delivery-option {
    display: grid;
    grid-template-columns: 24px 1fr;
    cursor: pointer;
    margin-bottom: 15px;
}

.delivery-option-input {
    cursor: pointer;
}

.delivery-date-option {
    font-size: 15px;
    margin-left: 8px;
}

.promo-code-container {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.valid-promo-code-message,
.invalid-promo-code-message {
    display: none;
    font-size: 15px;
    margin-top: -5px;
    margin-bottom: 20px;
}

.promo-code-input {
    flex: 1;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 20px;
    margin-right: 10px;
}

.promo-code-input::placeholder {
    color: var(--light-grey);
}

.promo-code-input:focus::placeholder {
    color: var(--dark-grey);
}

.promo-code-input:focus {
    outline-color: var(--custom-dark-grey);
}

.add-promo-code-button {
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.order-summary-row {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 15px;
    margin-bottom: 9px;
}

.order-summary-money {
    text-align: right;
}

.order-summary-top-rows-container {
    border-top: 1px solid rgb(222, 222, 222);
    border-bottom: 1px solid var(--black);
    padding: 15px 0;
}

.order-total-row {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 25px 0;
}

.place-order-button {
    display: none;
    width: 100%;
    border-radius: 5px;
    padding: 14px 0;
}

@media (max-width: 1200px) {
    main {
        max-width: 65%;
        min-width: 680px;
    }

    .cart-item-container,
    .checkout-wish-list-item-container,
    .empty-checkout-wish-list-container {
        width: 100% !important;
    }

    .cart-item-container {
        height: 280px !important;
    }

    .cart-item-quantity-limit-message {
        margin-top: 55px;
    }

    .cart-item-quantity-container {
        flex-direction: column;
        align-items: start;
    }

    .cart-item-quantity-display {
        margin-bottom: 10px;
    }

    .cart-item-details-grid {
        grid-template-columns: 100px 240px 1fr;
        grid-gap: 20px;
    }

    .cart-order-summary-grid {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    main {
        min-width: 500px !important;
    }

    .cart-item-container {
        height: 100% !important;
    }

    .cart-item-details-grid {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .cart-item-quantity-limit-message {
        margin-bottom: 20px;
    }
}

@media (max-width: 550px) {
    main {
        min-width: 300px !important;
        padding: 0 !important;
    }
}

@media (max-width: 450px) {
    .cart-item-container,
    .empty-cart-item-container,
    .order-summary-section-container {
        max-width: 300px !important;
    }

    .promo-code-input {
        width: 20px !important;
    }
}