footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #32302f;
    /* background-color: #282828; */
    padding: 0 22%;
}

.footer-about-section-grid {
    display: grid;
    grid-template-columns: auto auto 1fr;
    color: white;
    padding: 50px 0 30px 0;
}

.footer-about-section-container {
    max-width: 800px;
}

.footer-about-section-title {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer-about-section-container p {
    font-size: 14px;
}

footer .vr {
    position: relative;
    border-right: 1px solid rgba(128, 128, 128, 0.384);
    margin: 0 40px 0 20px;
}

.newsletter-input-container {
    display: flex;
}

.footer-newsletter-section-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-newsletter-section-info {
    font-size: 14px;
    margin-bottom: 25px;
}

.newsletter-input-container input {
    flex: 1;
    font-size: 14px;
    background-color: inherit;
    color: white;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    margin-right: 10px;
}

.newsletter-input-container input::placeholder {
    color: lightgray;
}

.newsletter-input-container input:focus::placeholder {
    color: darkgray;
}

.newsletter-input-container .sign-up-button {
    background-color: inherit;
    color: white;
    min-width: 91.5px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px 20px;
    transition: all 0.2s ease 0s;
}

.newsletter-input-container .sign-up-button:hover {
    background-color: white;
    color: black;
}

.valid-email-address-message {
    color: green;
}

.invalid-email-address-message {
    color: #e74d39d4;
}

.valid-email-address-message,
.invalid-email-address-message {
    display: none;
    font-size: 15px;
    margin-top: 5px;
}

footer .hr {
    position: relative;
    border-bottom: 1px solid rgba(128, 128, 128, 0.384);
    margin-bottom: 20px;
}

.footer-copyright-section-container {
    color: gray;
    font-size: 13px;
    margin-bottom: 20px;
}

@media (max-width: 1850px) {
    footer {
        padding: 0 14%;
    }
}

@media (max-width: 1550px) {
    footer {
        padding: 0 8%;
    }
}

@media (max-width: 1080) {
    footer {
        padding: 0 10%;
    }
}

@media (max-width: 500px) {
    .footer-about-section-grid {
        grid-template-columns: 1fr;
    }

    footer .vr {
        display: none;
    }

    .footer-newsletter-section-container {
        margin-top: 20px;
    }
}
