/* Variables */
:root {
    --white: #ffffff;
    --black: #000000;
    --grey: #808080;
    --light-grey: #cccccc;
    --custom-light-grey: #f9f8f7;
    --dark-grey: #333333;
    --custom-dark-grey: #32302f;
    --label-primary-colour: #615e5c;
    --label-secondary-colour: #e74c39;
    --link-primary-colour: #0066cc;
    --search-bar-placeholder-colour: #5e5f62;
    --search-dropdown-menu-hover-colour: #f0f0f0;
    --cart-items-quantity-background-colour: #f33c3c;
    --modal-view-order-button-background-colour: #00aa66;
    --modal-cancel-order-button-background-colour: #ed4040;
    --custom-border-bottom-colour: #e4e2e1;
    --product-image-container-background-colour: #f6f6f6;
    --search-bar-background-colour: #e3e3e3;
}

* {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--custom-dark-grey);
    padding: 0;
    margin: 0;
}

button,
select {
    border-radius: 50px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a {
    color: var(--white);
    text-decoration: none;
}

.bi {
    color: var(--black);
}

input {
    border: 1px solid #ccc;
}

.orders-header-grid,
.wish-list-header-grid,
.checkout-header-grid {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 80px;
    background-color: var(--white);
    font-size: 22px;
    font-weight: 500;
    border-bottom: 1px solid var(--custom-border-bottom-colour);
    padding: 0 22%;
}

.header-website-logo {
    color: var(--custom-dark-grey);
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button-primary {
    background-color: var(--custom-dark-grey);
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    border: none;
    transition: all 0.2s ease 0s;
}

.button-primary:hover {
    opacity: 0.8;
}

.limit-text-to-2-lines {
    /* Limit text to 2 lines */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.link-primary {
    color: var(--link-primary-colour);
    cursor: pointer;
}

.link-primary:hover {
    text-decoration: underline;
}

.label-primary {
    color: var(--label-primary-colour);
}

.label-secondary {
    color: var(--label-secondary-colour);
}

.cart-section-title,
.wish-list-section-title,
.orders-section-title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 18px;
}

.cart-item-container,
.checkout-wish-list-item-container {
    display: flex;
    height: 243px;
    width: 705px;
}

.wish-list-item-details-container,
.checkout-wish-list-item-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout-wish-list-item-container-grid {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 40px;
}

.empty-cart-item-container,
.empty-wish-list-container,
.empty-checkout-wish-list-container,
.empty-orders-container {
    display: grid;
    grid-template-columns: auto auto;
    height: 243px;
    width: auto;
}

.empty-checkout-wish-list-container {
    width: 705px;
}

.empty-cart-message-container,
.empty-wish-list-message-container,
.empty-checkout-wish-list-message-container,
.empty-orders-message-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.empty-cart-message-container span,
.empty-wish-list-message-container span,
.empty-checkout-wish-list-container span,
.empty-orders-message-container span {
    font-size: 18px;
    font-weight: 700;
}

#emptyCartContainerImg,
#emptyWishListContainerImg,
#emptyOrdersContainerImg {
    position: relative;
    justify-self: end;
    top: -5px;
    font-size: 30px;
}

.cart-item-container,
.order-summary-section-container,
.wish-list-item-container,
.checkout-wish-list-item-container,
.empty-cart-item-container,
.empty-wish-list-container,
.empty-checkout-wish-list-container,
.empty-orders-container {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 8px 0, rgba(0, 0, 0, 0.04) 0 2px 8px 0;
    padding: 25px;
    margin-bottom: 20px;
}

.cart-item-container:hover,
.wish-list-item-container:hover,
.checkout-wish-list-item-container:hover,
.order-header-container:hover,
.order-details-grid:hover,
.empty-cart-item-container:hover,
.empty-wish-list-container:hover,
.empty-checkout-wish-list-container:hover,
.empty-orders-container:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0 6px 16px 0, rgba(0, 0, 0, 0.04) 0 0 6px 0;
}

.cart-item-container .product-image,
.wish-list-container .product-image,
.checkout-wish-list-container .product-image {
    max-width: 100%;
    max-height: 120px;

    margin-left: auto;
    margin-right: auto;
}

.cart-item-container .product-name,
.wish-list-container .product-name,
.checkout-wish-list-container .product-name {
    font-weight: 700;
    margin-bottom: 8px;
}

.cart-item-container .product-price,
.wish-list-container .product-price,
.checkout-wish-list-container .product-price {
    font-weight: 700;
    margin-bottom: 8px;
}

.add-product-to-wish-list-button,
.add-wish-list-item-to-cart-button {
    margin-right: 8px;
}

.product-image-container {
    cursor: pointer;
}

.product-popup-container {
    display: none;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 500px !important;
    width: 500px !important;
    padding: 50px;
    z-index: 2;
}

.product-popup-image img {
    max-height: 90%;
    max-width: 90%;
}

.close-product-popup-button {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
}

input[type='number'] {
    outline: none;
    padding: 8px;
}

/* Remove the default number input spin buttons */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button,
input[type='number'] {
    -webkit-appearance: none;
}

input[type='number'] {
    -webkit-appearance: textfield; /* Safari and Chrome */
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
}

/* Orders, Wish List, Checkout page header styling */
@media (max-width: 2200px) {
    .orders-header-grid,
    .wish-list-header-grid,
    .checkout-header-grid {
        padding: 0 15%;
    }
}

@media (max-width: 1850px) {
    .orders-header-grid,
    .wish-list-header-grid,
    .checkout-header-grid {
        padding: 0 10%;
    }
}

@media (max-width: 800px) {
    .orders-header-middle-section,
    .wish-list-header-middle-section,
    .checkout-header-middle-section {
        display: none;
    }

    .orders-header-grid,
    .wish-list-header-grid,
    .checkout-header-grid {
        display: flex;
        justify-content: space-between;
    }
}
