* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

button, select {
    cursor: pointer;
}

/* dropdown selector styles */
select {
    color: rgb(33, 33, 33);
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(213, 217, 217);
    border-radius: 8px;
    padding: 3px 5px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}
  
select:focus,
input:focus {
    outline: 2px solid rgb(255, 153, 0);
}