.header-promo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    height: 40px;
    font-size: 12px;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    height: 85px;
    left: 0;
    right: 0;
    border-bottom: 1px solid lightgray;
    padding: 0 20%;
}

@media (max-width: 2000px) {
    .header-container {
        padding: 0 15%;
    }
}

@media (max-width: 1750px) {
    .header-container {
        padding: 0 10%;
    }
}

@media (max-width: 1500px) {
    .header-container {
        padding: 0 5%;
    }
}

.header-logo {
    color: black;
    font-size: 22px;
    font-weight: 700;
}

.header-middle-section-container {
    flex: 1;
    max-width: 600px;
}

.search-bar-container {
    display: flex;
}

.search-bar {
    height: 40px;
    font-size: 14px;
    flex: 1;
    border: 1px solid rgb(231, 231, 231);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    padding-left: 15px;
    text-transform: uppercase;
}

.search-bar::placeholder {
    color: lightgray;
    text-transform: uppercase;
}

.search-bar:focus::placeholder {
    color: darkgray;
}

.search-button {
    background-color: white;
    height: 40px;
    width: 45px;
    flex-shrink: 0;
    position: relative;

    border: 1px solid rgb(231, 231, 231);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
    padding-right: 8px;
}

.search-button img {
    height: 18px;
}

@media (max-width: 1300px) {
    .header-middle-section-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-bar-container {
        width: 500px;
    }
}

@media (max-width: 1150px) {
    .search-bar-container {
        width: 400px;
    }
}

@media (max-width: 1000px) {
    .search-bar-container {
        width: 350px;
    }
}

.header-right-section-container {
    display: flex;
    align-items: center;
}

.header-orders-link,
.header-checkout-link {
    color: black;
    font-size: 15px;
    text-transform: uppercase;
}

.header-orders-link {
    margin-right: 20px;
}

.header-checkout-link {
    display: flex;
    align-items: center;
}

.header-cart-quantity-container {
    position: relative;
    text-align: center;
    margin-right: 14px;
}

.header-cart-quantity-container .bi {
    font-size: 25px;
}

.header-cart-quantity-container .cart-quantity {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -6px;
    right: -10px;
    background-color: #282828;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    line-height: 20px;
}
