.promo-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--custom-dark-grey);
    top: 0;
    left: 0;
    right: 0;
    color: var(--white);
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    transition: top 0.2s ease;
    z-index: 1;
}

.header-grid {
    height: 90px;
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    align-items: center;
    background-color: var(--white);
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    transition: top 0.2s ease;
    padding: 0 98px;
    z-index: 1;
}

.header-grid .header-website-logo {
    font-size: 28px;
}

.header-middle-section-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.search-bar-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar {
    height: 40px;
    width: 600px;
    background-color: var(--search-bar-background-colour);
    color: var(--black);
    font-size: 14px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
}

.search-bar:focus {
    background-color: var(--white) !important;
    outline-color: var(--custom-dark-grey) !important;
}

.search-bar::placeholder {
    color: var(--search-bar-placeholder-colour);
}

.search-button {
    position: absolute;
    background: transparent;
    border: none;
    right: 20px;
    margin-top: 4px;
}

.search-button img {
    height: 16px;
}

.search-dropdown {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: var(--white);
    border: 1px solid #ccc;
    border-radius: 10px;
    display: none;
}

.search-dropdown-item {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.search-dropdown-item:hover {
    background-color: var(--search-dropdown-menu-hover-colour);
}

.header-right-section-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-orders-page-link,
.header-wish-list-page-link,
.header-checkout-page-link {
    color: var(--custom-dark-grey);
    font-size: 17px;
    font-weight: 500;
}

.header-orders-page-link,
.header-wish-list-page-link {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header-checkout-page-link {
    display: flex;
    align-items: center;
}

#checkoutPageIcon {
    font-size: 25px;
}

.header-cart-items-quantity-container {
    position: relative;
    text-align: center;
    margin-right: 10px;
}

.cart-items-quantity {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -3px;
    right: -7px;
    background-color: var(--cart-items-quantity-background-colour);
    color: var(--white);
    font-size: 11px;
    font-weight: 600;
    border-radius: 50px;
    line-height: 20px;
}

#openNavMenuIcon,
#closeNavMenuIcon {
    display: none;
    height: 32px;
    cursor: pointer;
}

#openNavMenuIcon {
    margin-left: 35px;
}

#closeNavMenuIcon {
    position: absolute;
    color: var(--white);
    font-size: 25px;
    top: 25px;
    right: 25px;
}

@media (max-width: 1350px) {
    .header-middle-section-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-bar-container {
        width: 450px;
    }
}

@media (max-width: 1150px) {
    .search-bar-container {
        width: 350px;
    }
}

@media (max-width: 1000px) {
    .search-bar-container {
        display: none;
    }

    #openNavMenuIcon {
        display: block;
    }

    .nav-menu {
        display: block;
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        background-color: rgba(32, 33, 37, 255);
        right: -200px;
        transition: 0.6s;
    }

    .header-grid #checkoutPageIcon,
    .header-grid .header-orders-page-link,
    .header-grid .header-checkout-page-link {
        color: var(--white);
        font-weight: 400;
    }

    .header-orders-page-link {
        margin: 100px 0 20px 20px;
    }

    .header-checkout-page-link {
        margin-left: 20px;
    }

    .header-grid {
        padding: 0 75px;
    }
}
