.orders-header-middle-section {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-shrink: 0;
}

@media (max-width: 1000px) {
    .orders-header-right-section {
        width: auto;
    }
}

@media (max-width: 600px) {
    .orders-header-middle-section {
        display: none;
    }
}
