html {
    background-color: #faf9f8;
}

main {
    max-width: 850px;
    padding: 0 30px;
    margin: 140px auto;
}

.orders-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
}

.order-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 8px 0px, rgba(0, 0, 0, 0.02) 0px 0px 4px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 35px;
}

.order-header-left-section {
    display: flex;
    flex-shrink: 0;
}

.order-header-label {
    font-weight: 500;
}

.order-date,
.order-total {
    margin-right: 45px;
}

.order-header-right-section {
    flex-shrink: 1;
}

.placed-order-modal,
.cancel-order-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    text-align: center;
    border-radius: 10px;
    padding: 70px;
}

.placed-order-modal::backdrop,
.cancel-order-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.placed-order-modal img,
.cancel-order-modal img {
    margin-bottom: 20px;
}

.placed-order-modal img {
    height: 180px;
}

.cancel-order-modal img {
    height: 140px;
}

.placed-order-modal h3,
.cancel-order-modal h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.placed-order-modal p,
.cancel-order-modal p {
    color: gray;
    margin-bottom: 50px;
}

.placed-order-modal .button-container,
.cancel-order-modal .button-container {
    display: flex;
    justify-content: center;
}

.modal-view-order-button,
.modal-close-button,
.modal-cancel-order-button {
    font-size: 15px;
    padding: 14px 25px;
    outline: none;
}

.modal-view-order-button {
    background-color: #00aa66;
}

.modal-close-button {
    margin-right: 15px;
}

.modal-cancel-order-button {
    background-color: #ed4040;
}

@media (max-width: 575px) {
    .order-header {
        flex-direction: column;
        align-items: start;
        line-height: 23px;
        padding: 15px;
    }

    .order-header-left-section {
        flex-direction: column;
    }

    .order-header-label {
        margin-right: 5px;
    }

    .order-date,
    .order-total {
        display: grid;
        grid-template-columns: auto 1fr;
        margin-right: 0;
    }

    .order-header-right-section {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

.order-details-grid {
    display: grid;
    grid-template-columns: 110px 1fr auto;
    column-gap: 40px;
    row-gap: 60px;
    background-color: white;
    align-items: center;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 8px 0px, rgba(0, 0, 0, 0.02) 0px 0px 4px 0px,
        rgba(0, 0, 0, 0.04) 0px 0px 1px 1px;
    padding: 40px 25px;
}

.first-order-item-details-grid,
.inner-order-item-details-grid {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media (max-width: 800px) {
    .order-details-grid {
        grid-template-columns: 110px 1fr;
        row-gap: 0;
        padding-bottom: 8px;
    }
}

@media (max-width: 450px) {
    .order-details-grid {
        grid-template-columns: 1fr;
    }
}

.product-image-container {
    text-align: center;
}

.product-image-container img {
    max-width: 110px;
    max-height: 110px;
}

.product-name {
    font-weight: 700;
    margin-bottom: 5px;
}

.product-delivery-date {
    margin-bottom: 3px;
}

.product-quantity {
    margin-bottom: 30px;
}

.buy-product-again-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy-product-again-button .bi {
    font-size: 15px;
    color: white;
    margin-right: 5px;
}

.product-actions {
    align-self: start;
}

.buy-product-again-button,
.cancel-order-button {
    font-size: 15px;
    padding: 12px 20px;
}

@media (max-width: 800px) {
    .buy-product-again-button {
        margin-bottom: 10px;
    }

    .product-actions {
        grid-column: 2;
        margin-bottom: 30px;
    }

    .cancel-order-button {
        width: 140px;
    }
}

@media (max-width: 450px) {
    .product-image-container {
        text-align: center;
        margin-bottom: 25px;
    }

    .product-image-container img {
        max-width: 150px;
        max-height: 150px;
    }

    .product-name {
        margin-bottom: 10px;
    }

    .product-quantity {
        margin-bottom: 15px;
    }

    .buy-product-again-button {
        width: 100%;
        margin-bottom: 15px;
    }

    .product-actions {
        grid-column: auto;
        margin-bottom: 70px;
    }

    .cancel-order-button {
        width: 100%;
        padding: 12px;
    }
}
