.orders-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: white;
    font-size: 22px;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(25, 25, 25, 0.1);
    padding: 0 10%;
    z-index: 1;
}

.orders-header-logo {
    color: black;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.orders-header-middle-section {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-shrink: 0;
}

@media (max-width: 1000px) {
    .orders-header-middle-section {
        font-size: 20px;
        margin-right: 60px;
    }

    .orders-header-cart-quantity-count {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .orders-header-middle-section {
        margin-right: 5px;
    }
}

@media (max-width: 1000px) {
    .orders-header-right-section {
        width: auto;
    }
}
