html {
    background-color: var(--custom-light-grey);
}

main {
    min-height: 100vh;
    max-width: 825px;
    margin: 140px auto;
}

.wish-list-item-container {
    height: 243px;
    display: flex;
}

.wish-list-item-container-grid {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 40px;
}

@media (max-width: 900px) {
    main {
        min-width: 700px;
        max-width: 65%;
    }
}

@media (max-width: 750px) {
    main {
        min-width: 600px !important;
    }
}

@media (max-width: 650px) {
    main {
        min-width: 500px !important;
    }
}

@media (max-width: 550px) {
    main {
        min-width: 400px !important;
    }
}

@media (max-width: 450px) {
    main {
        min-width: 300px !important;
    }

    .wish-list-item-container {
        height: auto;
    }

    .product-added-date {
        margin-bottom: 8px;
    }
}
