html {
    background-color: #faf9f8;
}

main {
    max-width: 1150px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 140px;
    margin-bottom: 100px;

    margin-left: auto;
    margin-right: auto;
}

.cart-item-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-order-summary-grid {
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 35px;
    align-items: start;
    margin-bottom: 70px;
}

.update-cart-item-quantity-input,
.save-new-cart-item-quantity-button {
    display: none;
}

.update-cart-item-quantity-input {
    width: 30px;
}

.cart-item-quantity-count,
.add-product-to-wish-list-button,
.add-wish-list-product-to-cart-button {
    margin-right: 8px;
}

/* style to display the "update cart item quantity" input and 
"save new cart item quantity" button */
.is-editing-cart-item-quantity .update-cart-item-quantity-input,
.is-editing-cart-item-quantity .save-new-cart-item-quantity-button {
    display: initial;
}

@media (max-width: 1000px) {
    main {
        max-width: 500px;
    }

    .cart-order-summary-grid {
        grid-template-columns: 1fr;
    }
}

.order-summary-section-container {
    padding-bottom: 5px;
}

@media (max-width: 1000px) {
    .order-summary-section-container {
        grid-row: 1;
        margin-bottom: 12px;
    }
}

.cart-item-details-grid {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    column-gap: 25px;
}

@media (max-width: 1000px) {
    .cart-item-details-grid {
        grid-template-columns: 100px 1fr;
        row-gap: 30px;
    }
}

.product-image {
    max-width: 100%;
    max-height: 120px;

    margin-left: auto;
    margin-right: auto;
}

.product-name {
    font-weight: 700;
    margin-bottom: 8px;
}

.product-price {
    color: rgb(177, 39, 4);
    font-weight: 700;
    margin-bottom: 5px;
}

.product-quantity .link-primary {
    margin-left: 3px;
}

@media (max-width: 1000px) {
    .delivery-options {
        /* style to make element take up 2 grid columns */
        grid-column: 1 / span 2;
    }
}

.delivery-options-title {
    font-weight: 700;
    margin-bottom: 10px;
}

.delivery-option {
    display: grid;
    grid-template-columns: 24px 1fr;
    margin-bottom: 12px;
    cursor: pointer;
}

.delivery-option-input {
    margin-left: 0px;
    cursor: pointer;
}

.delivery-option-date {
    color: rgb(0, 118, 0);
    font-weight: 500;
    margin-bottom: 3px;
}

.delivery-option-price {
    color: rgb(120, 120, 120);
    font-size: 15px;
}

.order-summary-section-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 25px;
}

.promo-code-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.valid-promo-code-message {
    color: #707070;
    display: none;
}

.valid-promo-code-message span {
    color: #0047ff;
    text-decoration: underline;
    cursor: pointer;
}

.invalid-promo-code-message {
    color: #e74c39;
    display: none;
}

.valid-promo-code-message,
.invalid-promo-code-message {
    font-size: 15px;
    margin-bottom: 20px;
}

.promo-code-input {
    flex: 1;
    border: 2px solid rgb(207, 212, 217);
    padding: 10px 10px 10px 15px;
    margin-right: 10px;
}

.promo-code-input,
.apply-promo-code-button {
    font-size: 14px;
    border-radius: 6px;
}
.promo-code-input:focus {
    border-color: #9ecaed;
    box-shadow: 0 0 5px #9ecaed;
}

.promo-code-input::placeholder {
    color: darkgray;
}

.apply-promo-code-button {
    color: white;
    background-color: gray;
    font-weight: 500;
    border: none;
    padding: 10px;
}

.order-summary-row {
    display: grid;
    grid-template-columns: 1fr auto;

    font-size: 15px;
    margin-bottom: 9px;
}

.order-summary-money {
    text-align: right;
}

.subtotal-row .order-summary-money {
    border-top: 1px solid rgb(222, 222, 222);
}

.subtotal-row div {
    padding-top: 9px;
}

.order-summary-top-rows-container {
    border-bottom: 1px solid rgb(222, 222, 222);
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.order-total-row {
    color: rgb(177, 39, 4);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
}

.place-order-button {
    width: 100%;
    padding: 14px 0;
    margin-bottom: 25px;
    display: none;
}

.cart-section-title,
.wish-list-section-title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 18px;
}
